@function rem($val){
    @return $val/75 + rem;
}

@mixin tabBg($imgSrc, $width, $height){
    background: url($imgSrc) no-repeat;
    background-size: rem($width) rem($height);
}

@mixin border-1px($position, $color: #ccc, $radius: 0, $style: solid){
  position: relative;
  &::after{
    @if $position == 'l' {
      border-left: 1PX $style $color;
    }@else if $position == 'r' {
      border-right: 1PX $style $color;
    }@else if $position == 't' {
      border-top: 1PX $style $color;
    }@else if $position == 'b' {
      border-bottom: 1PX $style $color;
    }@else{
      border: 1PX $style $color;
    }
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
    border-radius: $radius;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    @media (min-resolution: 2dppx){
      width: 200%;
      height: 200%;
      border-radius: $radius * 2;
      transform: scale(.5) translateZ(0)
    } 
    @media (min-resolution: 3dppx){
      width: 300%;
      height: 300%;
      border-radius: $radius * 3;
      transform: scale(.333) translateZ(0);
    } 
  }
}
